{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<br><br>
<body> 
    <h2 class="tituloblog"> POSTEOS </h2>

    <p> En esta sección encontrarás los posteos realizados por nuestros usuarios y filtros que te permitirán agrupar categorias </p>
    <div class="d-flex">
                <button  class="btn btn-dark btn-sm">
                    <a class="nav-link" href="{% url 'filtro_fecha_reciente' %}" margin=10px>Filtrar por Posteos Recientes</a>
                </button>
&nbsp;
                <button  class="btn btn-dark btn-sm">                           
                    <a class="nav-link" href="{% url 'filtro_fecha_viejo' %}">Filtrar por posteos Antiguos</a>
                </button>
&nbsp;
                <button  class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtroCatPersonas' %}">Filtrar por Categoria Personas</a>
                </button>
&nbsp;
                <button class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtroCatPlaneta' %}">Filtrar por Categoria Planeta</a>
                </button>
&nbsp;
                <button class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtroCatProsperidad' %}">Filtrar por Categoria Prosperidad</a>
                </button>
&nbsp;
                <button class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtroCatPaz' %}">Filtrar por Categoria Paz</a>
                </button>
&nbsp;
                <button  class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtroCatAlianzas' %}">Filtrar por Categoria Alianzas</a>
                </button>
&nbsp;
                <button  class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtro_comentarios_recientes' %}">Filtrar por Comentarios Recientes</a>
                </button>
&nbsp;
                <button  class="btn btn-dark btn-sm"> 
                    <a class="nav-link" href="{% url 'filtro_comentarios_antiguos' %}">Filtrar por Comentarios Antiguos</a>
                </button>
    </div>
<br>    
<br>    

<div class="container">  
    <div class="row row-cols-1 row-cols-md-2 g-4">
    
    {% for a in post %}
     <div class="col">
        <div class="card">
                <a href="{% url 'detallePostBlog' a.pk %}">
                <img class="card-img-top" src="{{a.imagen.url}}" alt="Card image cap">
                     </a>

                <div class="card-body">
                <a href="{% url 'detallePostBlog' a.pk %}">
                    <h5 class="card-title" >{{a.titulo}}</h5>            
                </a>
        
                <p class="card-text">{{a.descripcion}}</p>
                </div>
                <div class="card-footer">
                 <p>Categoria: {{a.categoria}} </p>
            
                    <ul>
                        <li> <a class="nav-link active" href="{% url 'Comentario' %}">Comentar</a></li>
                        <li> <a class="nav-link active" href="{% url 'VerComentarios' a.pk %}">Ver Comentarios</a></li>
                    </ul>
                </div>
        </div>
       </div> 
    {% endfor %}
</div> 



        

 

</body>
{% endblock %}