{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<br>
<br>

    <div>
        <div class="card-group">
            <div class="card">      
                    <img class="card-img-top" src="{{post.imagen.url}}" alt="Card image cap">      
                <div class="card-body">
                    <h5 class="card-title" >{{post.titulo}}</h5>
                    <p class="card-text">{{post.descripcion}}</p>
                    <div class="card-footer">
                        <p class="card-footer">Posteado por: {{post.usuario}}</p>
                        <p class="card-footer">{{post.fecha_elaboracion}}</p>
                        <ul>
                            <li> <a class="nav-link active" href="{% url 'Comentario' %}">Comentar</a></li>
                            <li> <a class="nav-link active" href="{% url 'VerComentarios' post.pk %}">Ver Comentarios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% load crispy_forms_tags %}
