{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<main>
	<div id="intro1">
		<section>
			<article>
				<h2 class="ti3">¿Dónde nacen los ODS?</h2>
				<hr>
				<p class="p1"> La influencia y el poder de la industria de la moda van mucho más allá de las pasarelas. Y es que, la industria global de la moda tiene un gran impacto social y huella medioambiental. Muchos de nosotros no comprendemos cómo la ropa que llevamos en el día a día puede llegar a afectar al mundo en el que vivimos.
					Como respuesta a cómo está afectando al mundo las conductas procedentes del ser humano, nacen los Objetivos de Desarrollo Sostenible en la Conferencia de las Naciones Unidas sobre el Medio Ambiente y el Desarrollo, celebrada en Río de Janeiro en el año 2012.
					
					Consisten en una colección de 17 objetivos globales orientados a la preservación y cuidado del medioambiente, el fin de la pobreza y una prosperidad económica a nivel global.
					
					Cada uno de estos objetivos tiene fijados indicadores específicos para evaluar su progreso, y se deberán cumplir para el año 2030.
				<br>
				<br>
					Los ODS son una evolución a los Objetivos de Desarrollo del Milenio, que comenzaron en el año 2000 con la intención de abordar la temática de la pobreza mundial.
						
					Los 17 objetivos están interconectados unos con otros, con la consecuencia de que al influir en uno también hay otros que se ven afectados. Por ejemplo, combatir la amenaza de la emergencia climática impacta en cómo gestionamos los recursos naturales, consiguiendo así igualdad de género o una mejora en la calidad de los sistemas sanitarios, que a su vez, contribuiría a la erradicación de la pobreza fomentando la paz y la inclusividad que reducirán diferencias y ayudará a las economías a prosperar. En resumidas cuentas, esta es la oportunidad definitiva para mejorar la calidad de vida a nivel global para las generaciones futuras.
						
					A su vez, los Objetivos de Desarrollo Sostenible coincidieron con otro acuerdo histórico acontecido en 2015 en la Conferencia de las Naciones Unidas Sobre el Cambio Climático celebrada en París. Junto con el Marco de Sendai para la Reducción del Riesgo de Desastres celebrado en Japón, estos acuerdos proporcionan un conjunto de estándares y objetivos alcanzables para reducir las emisiones de carbono, gestionar los riesgos del cambio climático y desastres naturales, y construir bases sólidas para la recuperación de las naciones después de una crisis.
				</p>
			</article>
		</section>
		<img src="/static/app/img/circulo.png" width="850" height="600">
	</div>
</main>
	<br>




{% endblock %}